/* line 14, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, C:/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 8, ../../scss/application.scss */
body {
  font-family: Arial;
  font-size: 14px;
}

/* line 13, ../../scss/application.scss */
.button, button:visited {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px;
  background: url("../images/alert-overlay.png") repeat-x scroll 0px -1px #222222;
  border: 1px solid #999999;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px 6px;
  position: relative;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px;
}

/* line 28, ../../scss/application.scss */
.button::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}

/* line 33, ../../scss/application.scss */
.button:hover {
  background-color: #111111;
  color: #FFFFFF;
}

/* line 38, ../../scss/application.scss */
.button:active {
  top: 1px;
}
