@using Web.Domain;
@model Category
@{
    var action = Model.Id == 0 ? "Create" : "Update";
}
@using (Html.BeginForm(action, "Categories"))
{
    <fieldset>
        @Html.HiddenFor(model => Model.Id)
        <div>
        @Html.LabelFor(model => Model.Name) 
        </div>
        <div>
        @Html.TextBoxFor(model => model.Name) 
        </div>
        <input type="submit" value="Submit" />
    </fieldset>
}
